---
name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Rust fmt
      run: cargo fmt --all --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build docs
      run: cargo doc --all-features --workspace
    - name: upload docs build
      uses: actions/upload-artifact@v5
      with:
        name: docs
        path: |
          target/docs/qiskit_rs
          target/docs/qiskit_sys
