---
name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: "tests-${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Rust fmt
      run: cargo fmt --all --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build docs
      run: cargo doc --all-features --workspace
    - name: upload docs build
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.os }}-docs
        path: |
          target/doc/qiskit_rs
          target/doc/qiskit_sys
